body{
   background: #fff url(#) repeat-x;
   font: 16px/24px Arial,Helvetica,"ヒラギノ丸ゴ Pro W4","Hiragino Maru Gothic Pro",'メイリオ',Meiryo,Sans-Serif;
   color: #333;
}
			    
#translationText{
	   resize: both;
       border:3px solid #99bbbb;
       margin-top:5px;
       margin-bottom:5px;
       width:800px;
       height:500px;
       overflow:scroll;
       scrollbar-3dlight-color:#ffeaff;
       scrollbar-arrow-color:#ffeaff;
       scrollbar-darkshadow-color:#ffffff;
       scrollbar-face-color:#ffffff;
       scrollbar-highlight-color:#ffffff;
       scrollbar-shadow-color:#ffeaff;
       scrollbar-track-color:#ffffff;
}
ul{
       margin-top:5px;
       margin-bottom:5px;
       list-style: none;
}
li{
       margin-top:10px;
       margin-bottom:10px;
}	